---
import "../styles/global.css";
import LanguageToggle from "./LanguageToggle.astro";
const currentLang = Astro.url.pathname.startsWith("/fr") ? "fr" : "en";
const navLinks = {
  en: [
    { href: "/", label: "HOME" },
    { href: "/about", label: "ABOUT" },
    { href: "/resources", label: "RESOURCES" },
    { href: "/projects", label: "PROJECTS" },
  ],
  fr: [
    { href: "/fr", label: "HOME" },
    { href: "about", label: "A PROPOS"},
    { href: "resources", label: "RESSOURCES"},
    { href: "projects", label: "PROJETS"},
  ],  
}
---
<script>
// TO DO: MAKE CURRENT LINK ACTIVE  
const currentPath = window.location.pathname
const currentLang = currentPath.startsWith("/fr") ? "fr" : "en";
console.log("Current Page:", currentPath);
const home = document.getElementById("home") as HTMLAnchorElement | null;
if (home) home.href = currentLang === "en" ? "/" : "/fr";
const about = document.getElementById("about") as HTMLAnchorElement | null;
if (about) about.href = currentLang === "en" ? "/about" : "/fr/about";
const resources = document.getElementById("resources") as HTMLAnchorElement | null;
if (resources) resources.href = currentLang === "en" ? "/resources" : "/fr/resources";
const projects = document.getElementById("projects") as HTMLAnchorElement | null;
if (projects) projects.href = currentLang === "en" ? "/projects" : "/fr/projects";

</script>

<body class="antialiased text-gray-800 bg-white">
  <header class="border-b">
    <div class="max-w-6xl mx-auto px-6 py-4 flex items-center justify-between">
        <a id="home" class="text-xl font-semibold">TARTS</a>
      <nav class="hidden md:flex gap-6 text-sm items-center">   
        {currentLang === "en" ? (
          <>
            <a id="about" class={ "hover:underline font-semibold"}  href={navLinks.en[1].href}>{navLinks.en[1].label}</a>
            <a id="resources" class="hover:underline" href={navLinks.en[2].href}>{navLinks.en[2].label}</a>
            <a id="projects" class="hover:underline" href={navLinks.en[3].href}>{navLinks.en[3].label}</a>
          </>
        ) : (
          <>
            <a id="about" class="hover:underline font-semibold" href={navLinks.fr[1].href}>{navLinks.fr[1].label}</a>
            <a id="resources" class="hover:underline" href={navLinks.fr[2].href}>{navLinks.fr[2].label}</a>
            <a id="projects" class="hover:underline" href={navLinks.fr[3].href}>{navLinks.fr[3].label}</a>
          </>
        )}
      <LanguageToggle/>
      </nav>

      <div class="md:hidden">
        <!-- mobile menu toggle placeholder -->
        <button aria-label="open menu" class="p-2 rounded bg-gray-100">
          ☰
        </button>
      </div>
    </div>
  </header>
  </body>